<a href="https://colab.research.google.com/github/ha2hi/Introduction-to-NLP/blob/main/01_natural_language_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1), 2), 3) 라이브러리

In [ ]:
pip install nltk

In [ ]:
pip install konlpy

In [ ]:
import tensorflow as tf
import keras 
import gensim
import sklearn
import nltk # 자연어 처리를 위한 파이썬 패키지
import pandas as pd
import numpy as np

In [ ]:
nltk.download('punkt')

# 4) pandas and numpy as matplotlib

### 1. 판다스(Pandas)
- 판다스는 파이썬 데이터 처리를 위한 라이브러리 입니다.
- 종류
    - 시리즈(Series)
    - 데이터프레임(DataFrame)
    - 패널(Panel)

In [ ]:
# 1.시리즈(Series)
sr = pd.Series([17000, 18000, 1000, 5000], index = ['피자', '치킨', '콜라', '맥주'])
print(sr)

In [ ]:
print(sr.values)

In [ ]:
print(sr.index)

In [ ]:
# 2.데이터프레임(DataFrame)
values = [[1,2,3], [4,5,6], [7,8,9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']
df = pd.DataFrame(values, index = index, columns = columns)
print(df)

In [ ]:
print(df.index)

In [ ]:
print(df.columns)

In [ ]:
print(df.values)

In [ ]:
# 3. 데이터프레임의 생성
data = [
        ['1000', 'Steve', 90.72],
        ['1001', 'James', 78.09],
        ['1002', 'Doyeon', 98.43],
        ['1003', 'Jane', 64.19],
        ['1004', 'Pilwoong', 81.30],
        ['1005', 'Tony', 99.14],
]
df = pd.DataFrame(data)
print(df)

In [ ]:
df = pd.DataFrame(data, columns = ['학번', '이름', '점수'])
print(df)

In [ ]:
# 딕셔너리를 통해 데이터프레임 생성
data = {
    '학번' : [1000, 1001, 1002, 1003, 1004, 1005],
    '이름' : ['Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
    '점수' : [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
    }
df = pd.DataFrame(data)
print(df)

In [ ]:
# 4.데이터프레임 조회하기
# df.head(n) : 앞 부분을 n개만 보기
# df.tail(n) : 뒷 부분을 n개만 보기
# df['열이름'] : 해당되는 열을 확인

In [ ]:
print(df.head(3)) # 앞 부분을 3개만 보기

In [ ]:
print(df.tail(3)) # 뒷 부분을 3개만 보기

In [ ]:
print(df['학번']) # '학번'에 해당되는 열을 보기

In [ ]:
# 5. 외부 데이터 읽기
# pandas는 csv, 텍스트, Excel, SQL, HTML, JSON 등 다양한 데이터 파일을 읽고 데이터 프레임을 생성할 수 있습니다.
# pd.read_csv('파일명.csv)

### 2. 넘파이(Numpy)
- 넘파이는 수치 데이터를 다루는 파이썬 패키지입니다.
- np.array() : 리스트, 튜플, 배열로 부터 ndarray를 생성
- np.asarray() : 기존의 array로 부터 ndarray를 생성
- np.arange : range와 비슷
- np.linspace(start, end, num) : [start,end] 균일한 간격으로 num개 생성
- np.logspace(start, end, num) : [start, end] log scale 간격으로 num개 생성

In [ ]:
# 1. np.array()
a = np.array([1,2,3,4,5])
print(type(a))
print(a)

In [ ]:
b = np.array([[10,20.30], [60,70,80]])
print(b)

In [ ]:
print(a.ndim) # 차원 출력
print(a.shape) # 크기 출력

In [ ]:
# 2. ndarray의 초기화
a = np.zeros((2,3))
print(a)

In [ ]:
a = np.ones((2,3))
print(a)

In [ ]:
a = np.full((2,2), 7)
print(a)

In [ ]:
a = np.eye(3)
print(a)

In [ ]:
a = np.random.random((2,2))
print(a)

In [ ]:
# 3. np.arange() : 지정해준 범위에 대해서 배열을 생성합니다.
# numpy.arage(start, stop, step, dtype)
a = np.arange(10)
print(a)

In [ ]:
a = np.arange(1, 10, 2)
print(a)

In [ ]:
# 4.reshape()
a = np.array(np.arange(30)).reshape(5, 6)
print(a)

In [ ]:
# 5.Numpy 슬라이싱
a = np.array([[1,2,3], [4,5,6]])
b = a[0:2, 0:2]
print(b)

In [ ]:
b = a[0, :]
print(b)

In [ ]:
b = a[:, 1]
print(b)

In [ ]:
# 6. Numpy 정수 인덱싱(integer indexing)
a = np.array([[1,2], [4,5], [7,8]])
print(a)

In [ ]:
b = a[[2,1],[1,0]] # a[row2, row1], [col1, col0]을 의미함.
print(b)

In [ ]:
# 7.Numpy 연산
# Numpy를 사용하면 배열간 연산을 손쉽게 수행할 수 있습니다.
x = np.array([1,2,3])
y = np.array([4,5,6])

In [ ]:
b = x + y # 각 요소에 대해서 더함
print(b)

In [ ]:
b = x - y # 각 요소에 대해서 빼기
print(b)

In [ ]:
b = b * x # 각 요소에 대해서 곱셈
print(b)

In [ ]:
b = b / x # 각 요소에 대해서 나눗셈
print(b)

In [ ]:
a = np.array([[1,2], [3,4]])
b = np.array([[5,6], [7,8]])
c = np.dot(a, b)
print(c)

### 맷플롯립(Matplotlib)
- 맷플롯립은 데이터를 차트나 플롯으로 시각화하는 패키지입니다.

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
# 1. 라인 플롯 그리기
plt.title('test')
plt.plot([1,2,3,4], [2,4,8,6])
plt.show()

In [ ]:
# 2. 축 레이블 삽입하기
plt.title('test')
plt.plot([1,2,3,4], [2,4,8,6])
plt.xlabel('hours')
plt.ylabel('score')
plt.show()

In [ ]:
# 3. 라인 추가와 범례 삽입하기
plt.title('students')
plt.plot([1,2,3,4],[2,4,8,6])
plt.plot([1.5, 2.5, 3.5, 4.5], [3,5,8,10])
plt.xlabel('hours')
plt.ylabel('score')
plt.legend(['A student', 'B student'])
plt.show()